<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="../styles/design.css" />
    <title>Web Design</title>
  </head>
  <body>
    <div class="title title-background1">
      <p>
        WEB <br />
        DESIGN
      </p>
    </div>

    <div class="content"></div>

    <script src="/scripts/design.js"></script>
  </body>
</html>
