<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="../styles/design.css" />
    <title>Web Development</title>
  </head>
  <body>
    <div class="title title-background2">
      <p><span class="first-word">WEB</span> <br />DEVELOPMENT</p>
    </div>

    <div class="content"></div>

    <script src="/scripts/dev.js"></script>
  </body>
</html>
