body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
}

/* dropdown  */
.dropdown {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  top: 80px;
  left: 640px;
  z-index: 1;
}

.dropdown p,
a {
  margin: 0px;
  color: white;
  line-height: 30px;
}

.dropdown a:hover {
  color: orangered;
  cursor: pointer;
}

.dropdown a:active {
  color: rgb(133, 35, 0);
}

.show-dropdown {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

/* home div  */
.home {
  background: url("../images/pattern.png"),
    linear-gradient(#212121, rgb(5, 5, 5));
  height: 100vh;
}

.navbar {
  margin-right: 20%;
  padding-bottom: 10px;
  text-align: right;
}

.navbar button {
  text-align: center;
  line-height: 25px;
  letter-spacing: 3px;
  color: rgb(255, 69, 0);
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  padding-top: 50px;
}

.navbar button:hover {
  color: rgba(255, 68, 0, 0.6);
  cursor: pointer;
}

.navbar button:active {
  color: rgb(104, 28, 1);
}

.content {
  height: 300px;
  width: 600px;
  padding: 30px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

.name {
  position: absolute;
  right: 255px;
  height: 120px;
  width: 440px;
  overflow: hidden;
}

.name p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 70px;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
  letter-spacing: 2px;
  text-align: end;
}

.roles {
  position: absolute;
  top: 140px;
  left: 207px;
  right: 255px;
  height: 300px;
  width: 600px;
  overflow: hidden;
}

.roles p {
  color: rgba(0, 0, 0, 0.2);
  font-size: 70px;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.social-media {
  padding-top: 10px;
  margin-left: 17%;
}

.social-media i {
  margin-left: 2%;
  color: rgba(255, 68, 0, 0.7);
}

.social-media i:hover {
  color: rgba(255, 68, 0, 0.4);
  cursor: pointer;
}

.social-media i:active {
  color: white;
}

a {
  text-decoration: none;
}

.fadein {
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.slide-right {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  animation: slide-right 1s ease-out;
}

@keyframes slide-right {
  0% {
    right: -450px;
  }
  100% {
    right: 0px;
  }
}

.slide-left {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  animation: slide-left 1s ease-out;
}

@keyframes slide-left {
  0% {
    left: -450px;
  }
  100% {
    left: 0px;
  }
}

/* projetcs title  */
.projects-title {
  margin: 0;
  background-color: transparent;
  color: rgba(255, 68, 0, 0.7);
  font-size: 25px;
  writing-mode: vertical-lr;
  letter-spacing: 2px;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  left: 20px;
  opacity: 0;
  z-index: 100;
}

/* projects section */
.projects {
  height: 80vh;
  position: relative;
}

.background1 {
  background: linear-gradient(black, rgb(26, 26, 26));
}

.background2 {
  background-color: rgb(26, 26, 26);
}

.background3 {
  background: linear-gradient(rgb(26, 26, 26), black);
  background-position: top left, center center;
}

.text {
  width: 20%;
  height: 60%;
  margin-left: 16.5%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.text p {
  width: 100%;
  margin: 0px;
  color: white;
}

.text2 {
  width: 20%;
  height: 60%;
  margin-left: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.text2 p {
  width: 100%;
  margin: 0px;
  color: white;
}

.number {
  font-size: 1000%;
  font-weight: 800;
  position: absolute;
  top: -8%;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  line-height: 100px;
}

.number1{
  left: -22%;
}

.number2{
  left: -31.9%;
}

.number3{
  left: -31%;
}

.projects-text-title {
  display: flex;
  flex-direction: column;
}

.projects-text-title span {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tools {
  border: rgba(255, 255, 255, 0.254) solid 1px;
  border-radius: 20px;
  padding: 3px 15px;
}

.view-work {
  background-color: rgba(255, 68, 0, 0.7);
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.display {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50%;
  height: 60%;
  margin-left: 40%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.display2 {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50%;
  height: 60%;
  margin-left: 12%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.img-container {
  height: 100%;
  transition: transform 0.5s ease-in-out;
  font-size: 0;
}

.img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@keyframes translateLeft {
  10% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

/* contact section  */
.footer {
  background: url("../images/pattern.png"),
    linear-gradient(rgb(5, 5, 5), #212121);
  height: max-content;
  padding: 5%;
  position: relative;
}

.footer a {
  color: white;
}

.footer-inner {
  border-radius: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
}

.footer-inner > div {
  flex: 1;
  color: white;
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer p {
  margin: 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.footer-inner span {
  display: flex;
  gap: 10px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  width: min-content;
  margin: 0px;
}

.top-button {
  position: absolute;
  bottom: 15px;
  right: 60px;
  color: white;
  font-weight: bold;
}

.top-button:hover {
  cursor: pointer;
}

.input-button{
  font-size: 5em;
  color: white;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
}